<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>595373662427-kik6bjbr0ejgkmerqr5u36bqcn8fqe2o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.595373662427-kik6bjbr0ejgkmerqr5u36bqcn8fqe2o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>595373662427-bn6rcj1sscp84kamkv5uev3eeruf4h1k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDvBIq52DcR3nIWjtdNnNeSsv4VTgKU73k</string>
	<key>GCM_SENDER_ID</key>
	<string>595373662427</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.incite.app</string>
	<key>PROJECT_ID</key>
	<string>incite-cee47</string>
	<key>STORAGE_BUCKET</key>
	<string>incite-cee47.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:595373662427:ios:2c7f9fdc7189aa44bcacfe</string>
</dict>
</plist>